html {
  width: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
/* ---------------- HEADER -------------------------- */
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.logo-nav {
  margin-top: 19px;
  margin-left: 50px;
  width: 300px;
  height: 100px;
}
nav ul {
  display: flex;
  gap: 25px;
  margin: 55px 110px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: rgb(28, 28, 28);
  font-weight: 500;
}
/* ---------------- HEADER   FIN -------------------------- */

main {
  text-align: center;
}
.verde {
  color: 00843D;
}
.prodsTamaño {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400;
  width: 275;
}
.contacto-info {
  margin-bottom: 40px;
}
.contacto-info h2 {
  border-bottom: 3px solid #00843d;
  display: inline-block;
}
.bannerOne {
  margin-top: 20px;
}
.encabezado-prods {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 156px;
}
.encabezado-prods h3 {
  font-size: 29px;
  color: #00843d;
  margin-bottom: 0px;
}
.encabezado-prods p {
  margin-top: 5px;
}
.ofertas-mail {
  display: flex;
  justify-content: space-around;
  background-color: #f5f5f5;
  padding: 20px;
}
.ofertas-mail h3 {
  color: #00843d;
}
.button-input {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}
.button-input input {
  border: none;
  padding: 10px 20px;
  outline: none;
  border-radius: 50px;
  font-size: 16px;
}
.button-input button {
  background-color: #00843d;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: -1px;
  margin-left: 30px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}
.button-input button:hover {
  background-color: #015d2c;
}
.beauty-w {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 159px;
  margin-top: 20px;
}
.beauty-w h1 {
  font-size: 29px;
  color: #00843d;
  margin-bottom: 0px;
}
.beauty-w p {
  margin-top: 5px;
}
.telefono {
  display: flex;
  justify-content: center;
  align-items: center;
}
.telefono img {
  width: 30px;
  height: 35px;
  margin-right: 10px;
}
.ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ubicacion img {
  width: 30px;
  height: 35px;
  margin-right: 10px;
}
/* -------------------Productos*/
#productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
.producto {
  border: 1px solid #ccc;
  padding: 10px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.producto .precio {
  color: #00843d;
  font-weight: 600;
  font-size: 20px;
}
.producto img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.producto input {
  margin-top: 10px;
  padding: 5px;
  width: 25%;
  box-sizing: border-box;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
.error {
  color: red;
}
#resultado {
  margin-top: 20px;
  font-size: 18px;
}
#productosHome {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
#productosDos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 150px;
}
#carrito {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.btn {
  --color: #00843d;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  margin-bottom: 20px;
}

.btn::before,
.btn::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.btn::before {
  top: -1em;
  left: -1em;
}

.btn::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.btn:hover::before,
.btn:hover::after {
  height: 410px;
  width: 410px;
}

.btn:hover {
  color: white;
}

.btn:active {
  filter: brightness(0.8);
}

/* -------------------Productos*/
.contacto-info h2 {
  color: #3a3a3a;
  font-size: 45px;
  margin-bottom: 40px;
}

.contacto-info p {
  margin-top: 20px;
  font-size: 20px;
}
.contacto-form h2 {
  color: #3a3a3a;
  margin-top: 40px;
  margin-bottom: 20px;
}

.contacto-form form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.contacto-form label {
  color: #3a3a3a;
  text-align: left;
}

.contacto-form input,
.contacto-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contacto-form button:hover {
  background-color: #03de69;
}
.totalVerde {
  color: #00843d;
}
.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
.box {
  width: 100vw;
  height: 100vw;
  background-position: center;
  background-size: cover;
  display: table;
}
.box:nth-child(1) {
  background-image: url(../imgs/carritoSUPER.jpg);
}
.form-message {
  margin-top: 10px;
  font-size: 1em;
}
.descuento {
  color: white;
  padding: 5px;
  background-color: red;
  border-radius: 50px;
}
.carrito-compras {
  width: 20px;
  height: 20px;
}

/*  ---------------------- Foto Bienvenida ------------------------*/
.sectionBienv {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 72vh;
  flex-direction: column;
}
.content {
  display: flex;
  justify-content: space-around;
  background: rgb(0, 0, 0);
  border-radius: 40px;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}
.text {
  flex: 1;
  padding: 20px;
}

.text h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #ffffff;
}
.text p {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #ffffff;
}
.text ul {
  list-style: none;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.5em;
}
.imagenExt {
  flex: 1;
  padding: 20px;
}
.imagenExt img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.text ul li {
  margin: 10px 0;
}

.section:nth-child(odd) .content {
  flex-direction: row;
}

.section:nth-child(even) .content {
  flex-direction: row-reverse;
}

/*  ---------------------- Foto Bienvenida FIN ------------------------*/
.flecha {
  width: 45px;
  height: 45px;
  animation: titilar 1s infinite;
  margin-top: 50px;
}

@keyframes titilar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*  ------------------------ FOOTER ------------------------  */
footer {
  display: flex;
  background-color: #00843d;
  color: white;
  justify-content: space-between;
}
.logoFooter {
  margin-left: 70px;
  width: 364px;
  height: 106px;
  padding: 20px;
}
.izquierda {
  text-align: center;
}
.icons-footer {
  margin-left: 75px;
}
.icons-footer a {
  margin: 0 5px;
  display: inline-block;
}
.icons-footer img {
  width: 30px;
}
.derecha {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
footer ul {
  margin-right: 320px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer ul li a {
  color: white;
  text-decoration: none;
}
